.container {
    width: 1140px;
    margin: auto;
    max-width: 1140px;
}
body {
    margin-top: 0;
}
.jumbo {
    height: 40vh;
    min-height: 500px;
    background-color: black;
    background: url("/images/Background_Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1340px;
    margin: auto;
    position: relative;
    margin-top: 0;
.navbar {
    background-color: transparent;
    position: absolute;
    left: 50%;
    margin-top: 0;
}
.navigation {
    list-style-type: none;
    text-align: right;
    li {
        display: inline;
        padding: 15px;
    }
    a {
        text-decoration: none;
        color: #ffffff;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
    }
}
.jumbo h1 {
    position: absolute;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
}
.jumbo h3 {
    position: absolute;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    left: 42%;
    right: 0;
    top: 60%;
}
button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 80%;
    border: 2px #ffffff solid;
    font-size: 26px;
    border-radius: 8px;
    background-color: transparent;
    color: #ffffff;
    padding: 15px;
}
.services {
    padding-top: 36px;
    padding-bottom: 36px;
}
h1, h4 {
    text-align: center;
}
.services h3 {
    color: #222222;
}
.services h4 {
    opacity: 0.5;
}
.service-text {
    opacity: 0.5;
    font-family: "Roboto Slab";
}
h1 {
    padding-top: 36px;
}
h4 {
    padding-bottom: 36px;
}
.box {
    text-align: center;
}
i {
    font-size: 20px;
    padding: 15px;
    color:#fed136;
    border: 3px solid #fed136;
    border-radius: 30px;
}
.portfolio {
    background-color: #f7f7f7;
}
.portfolio img {
    object-fit: cover;
    max-width: 250px;
}
.row {
    justify-content: center;
    align-content: center;
    }
.portfolio h5 {
    opacity: 0.5;
    margin-top: 0;
}
.portfolio h4 {
    opacity: 0.5;
}
footer {
    padding-top: 36px;
}
.page-footer ul {
    list-style-type: none;
}
.page-footer ul li {
    display: inline-block;
    
}
.page-footer i {
    font-size: 18px;
    color: #ffffff;
    background-color: #222222;
    border: 1px solid #222222;
    padding: 8px;
    border-radius: 30px;
}
.copy {
    font-size: 14px;
    color: #555555;
    font-family: Montserrat;
}