.container {
    width: 1140px;
    margin: auto;
    max-width: 1140px;
}
.jumbo {
    height: 50vh;
    min-height: 500px;
    background: url('/images/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1340px;
    margin: auto;
    position: relative;
}
.navbar {
    background-color: transparent;
    position: absolute;
    left: 50%;
}
.navigation {
    list-style-type: none;
    text-align: right;
    li {
        display: inline;
        padding: 15px;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }
}
h1, h4 {
    text-align: center;
}
h4 {
    padding-bottom: 36px;
}
.box {
    text-align: center;
}
i {
    font-size: 60px;
    padding-bottom: 20px;
}